{% extends 'base.html' %} 
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <form action="{{url_for('contribute')}}" method="POST">
        <div class="mb-3">
          <h3>Chirp here</h3>
        </div>
        <div class="mb-3">
          <label for="title" class="form-label">Chirp</label>
          <input
            type="text"
            name="title"
            class="form-control"
            placeholder="Chirp Title"
            required
          />
        </div>
        <div class="mb-3">
          <label for="content" class="form-label">Content</label>
          <textarea
            name="content"
            cols="50"
            rows="10"
            class="form-control"
            placeholder="Chirp Content" 
            required
          ></textarea>
        </div>
        <div class="mb-3">
          <input type="submit" value="Post Chirp" class="btn btn-primary" />
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
